:host::ng-deep {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 2rem;;
  width: 25rem;
  height: 20rem;
  border: 1px solid #333;
  border-radius: 1rem;
  box-sizing: border-box;
  background-position: 7% 12%;
  background-repeat: no-repeat;
  background-size: 25%;
  transition: background-color 0.13s ease-in;
  will-change: background-color, background-image;
  & > input {
    flex: 1 1 100%;
    width: 100%;
    &:first-child {
      margin-top: 5rem;
    }
    &:nth-child(2) {
      flex: 1 10 70%;
      width: 70%;
      margin-right: 5%;
      margin-bottom: 4rem;
    }
    &:nth-child(3),
    &:nth-child(4) {
      flex: 0 0 2rem;
      width: 2rem;
    }
  }
}
