<ng-container [formGroup]="transfer">
  <app-card
    formGroupName="cardFrom"
    [class.card_visa]="cardFrom.value.length > 4"
  >
    <input
      type="text"
      formControlName="card"
      #cardFrom
      maxlength="23"
      placeholder="XXXX XXXX XXXX XXXX"
    />
    <input type="text" formControlName="owner" placeholder="ВЛАДЕЛЕЦ КАРТЫ"/>
    <app-datalist formControlName="month" type="month"></app-datalist>
    <app-datalist formControlName="year" type="year"></app-datalist>
  </app-card>

  <app-card [class.card_ms]="cardTo.value.length > 4">
    <input
      type="text"
      formControlName="cardTo"
      #cardTo
      maxlength="23"
      placeholder="XXXX XXXX XXXX XXXX"
    />
  </app-card>

  <div class="sending">
    <input
      type="text"
      formControlName="amount"
      placeholder="Введите сумму"
      appCurrency
    />
    <button
      (click)="transfer.valid ? submit() : null"
      [class.valid]="transfer.valid"
      [disabled]="transfering"
    >
      {{ transfering ? 'Переводим...' : 'Перевести' }}
    </button>
  </div>
</ng-container>
