@import "~normalize-scss/sass/normalize/import-now";

:root {
  --baseColor: #82b4e2;
  --bkgColor: #fefefe;
}

html {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #123;
  background-color: var(--bkgColor);
}
